<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="Keywords" content="">
		<meta name="Description" content="">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,minimum-scale=1.0">
		 <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
        <link href="css/areapicker.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/index.css">
			<title>回收e客网上商城</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="int_title"><span class="int_pic"></span>新建地址</div>
			<div class="m_pwd">
			<form action="./add_new_receipt" method="post">	
				<span class="new topline"><input type="text" id="name_id" name="name" value="输入收货人姓名" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style ="#999;"/></span>
				<span class="new topline"><input  type="text" id="tel_id" name="tel" value="联系方式" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style ="#999;"/></span>
				<span class="new topline"><a href="javascript:;" class="f12 green" id="area">点击选择地区...</a></span>
				<input id="city_id" type="hidden" name="city" value=""> 
				<span class="new topline"><input id="detail_address_id" type="text" name="detail_address" value="输入详细地址，如街道，小区" onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}" style ="#999;"/></span>
			<p class="new_ti">
					 <input type="submit" id="submit_id" style="background-color:red;text- align:center;color:#FFFFFF" value="保存并使用" />
				</p>
			</form>
				
			</div>
		</div>
			<script type="text/javascript" src="js/rem.js" ></script>
			 <script src="js/areapicker.js"></script>
    <script src="js/iscroll.js"></script>
    <script type="text/javascript">
        $(function () {
            /*不带默认值*/
            $('#area').areapicker({}, function (areaArr) {
                //确定时回调方法:
                //areaArr:已经选择的地区
                $('#area').text("已选择 省:" + areaArr[0] + " 市:" + areaArr[1] + " 区/县:" + areaArr[2]);
                 $("#city_id").val(areaArr[0] + areaArr[1] + areaArr[2]);
                
            }, function (areaArr) {
                //取消时回调方法:
                //areaArr:上次选择的地区
                $('#area').text("点击选择地区...");
            });


        });
    </script>
    <script type="text/javascript">
    	 $(document).ready(function(){
    	 	 $("#submit_id").click(function(){
    	 	 
    	 	 if($("#city_id").val() ==""){
        		alert("请选择上门地址所在城区");
        		return false;
        		}else if($("#detail_address_id").val() =="" || $("#detail_address_id").val() =="输入详细地址，如街道，小区"){
        		alert("请输入详细地址街道");
        		return false;
        		}else if($("#name_id").val() =="" || $("#name_id").val() =="输入收货人姓名"){
        			alert("请输入联系人姓名");
        			return false;
        		}else if($("#tel_id").val() ==""|| $("#tel_id").val() =="联系方式"){
        		alert("请输入联系电话");
        		return false;
        		}else if($("#tel_id").val() !=""){
        		var value = $("#tel_id").val();
        		 var rex = /^1[3-9]+\d{9}$/;
        		  var rex2 = /^((0\d{2,3})-)(\d{7,8})(-(\d{3,}))?$/;
        		  if (rex.test(value) || rex2.test(value)) {
        		  }else{
        		  	alert("请输入正确格式的手机或电话号码");
        		  	
        		  	return false;
        		  }
        		}
 			 });
 			  $("#select_id").click(function(){
 			     var val=$('input:radio[name="selected_address"]:checked').val();
            if(val==null){
                alert("请选择地址");
                return false;
            }
            else{
               
            }
 			   });
    	 });
    </script>
	</body>
</html>