<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>回收员后台系统</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" th:href="@{/lib/weui.min.css}"/>
        <link rel="stylesheet" th:href="@{/lib/jquery-weui.min.css}"/>
        <style type="text/css">
        	 html,body,.page{width:100%; height:100%;overflow:hidden;}		
 				.top,.con,.bottom{position:absolute; left:0; right:0;}		
 				.top{top:0;z-index:1; height:opx;}		
 				.con{top:0px; bottom:50px; overflow:auto;}		
 				.bottom{bottom:0;z-index:1; height:50px;} 	
        </style>
     
     
    </head>
    <body>
    <div class="wrap">
    	<div class="con">
    	 <div class="weui-cells__title">修改密码</div>
    	  <form id="passwordChange_form" th:action="@{/passwordChange}" method="post">	
  		<div class="weui-cells weui-cells_form">
  		<div class="weui-cell">
    		<div class="weui-cell__hd"><label class="weui-label">输入旧密码:</label></div>
    		<div class="weui-cell__bd">
      		<input id="old_pass_id" name="old_pass" class="weui-input" type="password" th:value="${oldPasswd}"  >
    		</div>
  		</div>
  		<div class="weui-cell">
    		<div class="weui-cell__hd"><label class="weui-label">输入新密码:</label></div>
    		<div class="weui-cell__bd">
      		<input id="new_pass_id" name="new_pass" class="weui-input" type="password"  th:value="${newPasswd}">
    		</div>
  		</div>
  		<div class="weui-cell">
    		<div class="weui-cell__hd"><label class="weui-label">确认新密码:</label></div>
    		<div class="weui-cell__bd">
      		<input id="new_pass2_id" name="new_pass2" class="weui-input" type="password"   th:value="${cNewPasswed}">
    		</div>
  		</div>
  		</div>
  		</form>
        <a href="javascript:;" id="submit_pass" class="weui-btn weui-btn_primary">修改密码</a>
		</div>
<!-- footer nav-->  
			<div class="bottom">
  				<div class="weui-tabbar">
        		<a th:href="@{/manager_main}" class="weui-tabbar__item weui-bar__item">
          			<div class="weui-tabbar__icon">
            			<img th:src="@{/images/recycle_home/icon_nav_form.png}" alt="">
          			</div>
          			<p class="weui-tabbar__label">新订单</p>
        		</a>
        		<a th:href="@{/manager/my_center}" class="weui-tabbar__item weui-bar__item--on">
          			<div class="weui-tabbar__icon">
            			<img th:src="@{/images/recycle_home/icon_center.png}" alt="">
          			</div>
         			<p class="weui-tabbar__label">我的菜单</p>
        		</a>
      		</div>
      	</div>
<!--footer nav end-->
     </div>
     <script th:src="@{/lib/jquery-2.1.4.js}"></script>
     <script th:src="@{/lib/jquery-weui.js}"></script>
 	<script type="text/javascript">
   $(document).ready(function(){
   		 $("#submit_pass").click(function(){
       
          if($("#old_pass_id").val() ==""){
          	$.alert("请输入旧密码");
          	return false;
          }
           if($("#new_pass_id").val() ==""){
          	$.alert("请输入新密码");
          	return false;
          }
           if($("#new_pass2_id").val() ==""){
          	$.alert("请确认新密码");
          	return false;
          }
           if($("#new_pass2_id").val() !=$("#new_pass_id").val()){
          	$.alert("两次输入的新密码不一致");
          	return false;
          }
          $("#passwordChange_form").submit();
        });
        
    });
</script>
<script type="text/javascript" th:if="${info_msg == 'passwd_change_success'}" >
    $.toptip('密码修改成功', 'success');
    </script>
    <script type="text/javascript" th:if="${info_msg == 'old_pass_err'}" >
    $.toptip('旧密码输入错误', 'error');
    </script>
    <script type="text/javascript" th:if="${info_msg == 'pass_change_err'}" >
    $.toptip('密码修改失败', 'error');
    </script>
    </body>
</html>