<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="book" class="com.larry.iocDemo.beans.Book">
        <property name="bookPublsher">
            <bean class="com.larry.iocDemo.beans.BookPublisher">
                <property name="publisherID" value="101"/>
                <property name="firstName" value="Larrry"/>
                <property name="lastName" value="Song"/>
            </bean>
        </property>
    </bean>
</beans>